@import url(css/forms.css);
@import url(css/grid.css);
@import url(css/masonry.css);
@import url(css/normalize.css);
@import url(css/table.css);
@import url(css/text.css);
.block {
    width: 100%;
    margin: 2rem auto;
}

div[class^="c"] {
    text-align: center;
    background: lightblue;
    box-shadow: inset 0 0 0 1px red;
}

@media (min-width: 550px) {
    .block {
        width: 80%;
        margin: 2rem auto;
    }
    .row {
        display: flex;
justify-content: space-between;
    }
    .c1 {
        width: 8.3333333333%;
    }
    .c2 {
        width: 16.6666666667%;
    }
    .c3 {
        width: 25%;
    }
    .c4 {
        width: 33.3333333333%;
    }
    .c5 {
        width: 41.6666666667%;
    }
    .c6 {
        width: 50%;
    }
    .c7 {
        width: 58.3333333333%;
    }
    .c8 {
        width: 66.6666666667%;
    }
    .c9 {
        width: 75%;
    }
    .c10 {
        width: 83.3333333333%;
    }
    .c11 {
        width: 91.6666666667%;
    }
    .c12 {
        width: 100%;
    }
    .o1 {
        margin-left: 8.3333333333%;
    }
    .o2 {
        margin-left: 16.6666666667%;
    }
    .o3 {
        margin-left: 25%;
    }
    .o4 {
        margin-left: 33.3333333333%;
    }
    .o5 {
        margin-left: 41.6666666667%;
    }
    .o6 {
        margin-left: 50%;
    }
    .o7 {
        margin-left: 58.3333333333%;
    }
    .o8 {
        margin-left: 66.6666666667%;
    }
    .o9 {
        margin-left: 75%;
    }
    .o10 {
        margin-left: 83.3333333333%;
    }
    .o11 {
        margin-left: 91.6666666667%;
    }
    .o12 {
        margin-left: 100%;
    }
}

hr {
    margin-bottom: 3.5rem;
    border-width: 0;
    border-top: 2px solid #e1e1e1;
}

body {
    line-height: 1.6;
    font-weight: 400;
    font-family: var(--font-family-sans-serif);
    color: #222;
    text-align: center;
    font-size: 30px;
    background-color: linen;
}
